node_modules/
.nuxt/
.output/
dist/
reports/
coverage/
*.log
.env
.env.*
!.env.example
/.idea/.gitignore
/.idea/encodings.xml
/.idea/indexLayout.xml
/.idea/vcs.xml
/repomix-output-client.md
/app/.idea/encodings.xml
/app/.idea/indexLayout.xml
/app/.idea/projectSettingsUpdater.xml
/app/.idea/workspace.xml
